.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;
    box-shadow: 0px 1px 3px -2px #000;
    margin-bottom: 1px;
    z-index: 999;
}
.nav-logo{
    width: 200px;
}
.nav-profile{
    width: 75px;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}