.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background-color: white;
    padding-top: 30px;
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 10px;
    gap: 20px;
    background-color: #f6f6f6;
    cursor: pointer;
}

@media(max-width:800px){
    .sidebar{
        display: none;
    }
}